modules = ["dotnet-7.0"]
run = "dotnet run"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "dotnet run"]

[workflows]

[[workflows.workflow]]
name = "Build and Deploy Docker Swarm"
author = 3516422
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "chmod +x deploy-swarm.sh"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./deploy-swarm.sh"
